.login{
    width: 400px;
    padding: 20px;
}
.login h1{
    text-align: center;
}
.login button{
   margin-left:150px ;
}
.login label{
    margin-bottom:10px;
}
/* .navbar #dd   {
    display:none;
}  */